---
import { type CollectionEntry } from "astro:content";
import Pill from "./Pill.astro";
import LinkIcon from "./LinkIcon.astro";

interface Props {
  href: string;
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<article class="card">
  <div class="preview">
    {
      project.data.preview ? (
        <img
          class="project-image"
          src={project.data.preview.src}
          alt={`${project.data.title} preview image`}
        />
      ) : (
        <div class="project-image">
          <h1 class="no-project-image">No image</h1>
        </div>
      )
    }
  </div>

  <div class="information">
    <header>
      {
        project.data.logo ? (
          <img
            class="project-logo-image"
            src={project.data.logo.src}
            alt={`${project.data.title} logo`}
          />
        ) : (
          <h1 class="project-logo-text">{project.data.title}</h1>
        )
      }

      <ul class="info-pills">
        {
          project.data.platforms.map((platform) => (
            <li>
              <Pill
                name={platform}
                backgroundColour="#ddf4ff"
                textColour="#2d78cf"
              />
            </li>
          ))
        }
        {
          project.data.tags.map((tag) => (
            <li>
              <Pill
                name={tag}
                backgroundColour={"#ececec"}
                textColour={"#535353"}
              />
            </li>
          ))
        }
        {
          project.data.links?.map((link) => (
            <li>
              <LinkIcon
                href={link.link}
                iconName={link.icon}
                alt={link.title}
                target="_blank"
              />
            </li>
          ))
        }
      </ul>
    </header>

    <div class="description">
      <p>{project.body}</p>
    </div>
  </div>
</article>

<style>
  .card {
    transition: opacity 0.3s;
    background-color: snow;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    box-sizing: border-box;
  }
  .preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;
  }
  .project-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .no-project-image {
    height: fit-content;
    color: rgb(241, 241, 241);
  }
  .information {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
  }
  .information header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 1rem;
  }
  .project-logo-image {
    width: 12rem;
    /* max-height: 2.8rem; */
    object-fit: contain;
  }
  .project-logo-text {
    font-size: 2.5rem;
  }
  .info-pills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .description {
    border-top: solid 2px rgb(241, 241, 241);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .description ul {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  @media screen and (max-width: 1026px) {
    .card {
      flex-direction: column;
    }
    .information {
      min-width: 100%;
      flex-direction: column;
      gap: 1rem;
    }
    .project-image {
      width: 75%;
      height: 100%;
    }
  }
</style>
