---
import { getEntries, type CollectionEntry } from 'astro:content';
import TagPill from './TagPill.astro';
import { Image } from 'astro:assets';

interface Props {
	href: string;
	project: CollectionEntry<'projects'>;
}

// const pathname = new URL(Astro.request.url).pathname

const { href, project } = Astro.props;

const tags: CollectionEntry<'tags'>[] = await getEntries(project.data.tags); // Resolve an array of references
---

<a href={href} class="project-card">
	<div class="project-card-details no-opacity">
		<header>
			<h3>{project.data.title}</h3>
			<ul>
				{tags.map(tag => (
					<li>
						<TagPill tag={tag} />
					</li>
				))}
			</ul>
			
			<p>{project.data.description}</p>
		</header>

		<p>{project.data.year}</p>
	</div>

	<!-- {pathname.includes(href) ? <Image src={project.data.staticImage} alt={`${project.data.title} demo image`}/> : <img alt="yoo"/>} -->
	<Image src={project.data.staticImage} alt={`${project.data.title} demo image`}/>
</a>

<style>
	.project-card {
		flex-shrink: 0;
		display: flex;
		gap: 1rem;
		padding: 1px;
	}
	.project-card img {
		display: flex;
		padding: 1px;
		/* transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1); */
		width: 25rem;
		height: 15rem;
	}
	.project-card-details {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 10rem;
	}
	.project-card-details ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0;
		margin-bottom: 1rem;
	}
	.project-card-details li {
		list-style: none;
	}
	.no-opacity {
		opacity: 0;
	}
	.project-card:hover .no-opacity {
		opacity: 1;
	}
	/* .project-card img:is(:hover, :focus-within) {
		filter: none;
	} */
</style>
