---
import { getEntries, type CollectionEntry } from 'astro:content';
import Pill from './Pill.astro';
import { Image } from 'astro:assets';
import LinkIcon from './LinkIcon.astro';

interface Props {
	href: string;
	project: CollectionEntry<'projects'>;
}

// const pathname = new URL(Astro.request.url).pathname

const { href, project } = Astro.props;

const tags: CollectionEntry<'tags'>[] = await getEntries(project.data.tags); // Resolve an array of references
---

<article class="project-card">
	<!-- {pathname.includes(href) ? <Image src={project.data.staticImage} alt={`${project.data.title} demo image`}/> : <img alt="yoo"/>} -->
	<header>
		<!-- {project.data.logo ? <Image src={project.data.logo} alt={`${project.data.title} logo`} width={250} quality={'max'}/> : <h1>{project.data.title}</h1>} -->
		{project.data.logo ? <img src={project.data.logo.src} alt={`${project.data.title} logo`} width={250}/> : <h1>{project.data.title}</h1>}
	</header>

	<ul>
		{tags.map(tag => (
			<li>
				<Pill name={tag.data.name}/>
			</li>
		))}

		{project.data.archived && <li><Pill name={"archived"} backgroundColour={'#ececec'} textColour={'#535353'} /></li>}

		<li><Pill name={project.data.year} backgroundColour={'#ececec'} textColour={'#535353'} /> </li>
	</ul>
	
	<p>{project.data.description}</p>

	<ul>
		{project.body && <li><LinkIcon href={href} iconName={"book-open-text"} alt={`More on ${project.data.title}`}/></li>}
		
		{project.data.links?.map(link => (
			<li>
				<LinkIcon href={link.link} iconName={link.icon} alt={link.title} target="_blank"/>
			</li>
		))}
	</ul>
</article>

<style>
	.project-card {
		display: flex;
		flex-direction: column;
		height: fit-content;
		width: 100%;
		gap: 0.5rem;
	}
	.project-card header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100px;
		gap: 1rem;
	}
	.project-card ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0;
	}
	.project-card li {
		list-style: none;
	}
</style>
