---
import githubSvg from '../../public/github-logo-fill.svg';
import linkedinSvg from '../../public/linkedin-logo-fill.svg';
import envelopeSvg from '../../public/envelope-fill.svg';
import bookOpenTextSvg from '../../public/book-open-text.svg';
import gameControllerSvg from '../../public/game-controller.svg';
import codeSvg from '../../public/code.svg';
import cursorSvg from '../../public/cursor.svg';

interface Props {
	href: string;
  iconName: string;
  alt: string;
  target?: string;
}

const { href, iconName, alt, target } = Astro.props;

let icon: ImageMetadata | undefined
switch (iconName) {
  case "github-logo":
    icon = githubSvg
    break;

  case "linkedin-logo":
    icon = linkedinSvg
    break;

  case "envelope":
    icon = envelopeSvg
    break;

  case "book-open-text":
    icon = bookOpenTextSvg
    break;

  case "game-controller":
    icon = gameControllerSvg
    break;

  case "code":
    icon = codeSvg
    break;

  case "cursor":
    icon = cursorSvg
    break;

  default:
    break;
}
---
<a class="link-icon" target={target} href={href} title={alt}>
  <img src={icon?.src} alt={alt} />
</a>

<style>
	.link-icon {
    width: 22px;
		height: 22px;
    opacity: 0.7;
  }
  .link-icon:hover {
    opacity: 1;
  }
  .link-icon img {
    width: 22px;
		height: 22px;
  }
</style>
