---
interface Props {
  href: string;
  iconName: string;
  alt: string;
  target?: string;
}

const { href, iconName, alt, target } = Astro.props;

let iconPath = "";
switch (iconName) {
  case "github-logo":
    iconPath = "/github-logo-fill.svg";
    break;

  case "linkedin-logo":
    iconPath = "/linkedin-logo-fill.svg";
    break;

  case "envelope":
    iconPath = "/envelope.svg";
    break;

  case "book-open-text":
    iconPath = "/book-open-text.svg";
    break;

  case "game-controller":
    iconPath = "/game-controller.svg";
    break;

  case "code":
    iconPath = "/code.svg";
    break;

  case "cursor":
    iconPath = "/cursor.svg";
    break;

  default:
    break;
}
---

<a class="link-icon" target={target} href={href} title={alt}>
  <img src={iconPath} alt={alt} />
</a>

<style>
  .link-icon {
    width: 22px;
    height: 22px;
    transition: opacity 0.3s;
    opacity: 0.7;
  }
  .link-icon:hover {
    transition: opacity 0.3s;
    opacity: 1;
  }
  .link-icon img {
    width: 22px;
    height: 22px;
  }
</style>
