---
interface Props {
  title: string;
  href: string;
  iconName: string;
  alt: string;
}

const { title, href, iconName, alt } = Astro.props;

let iconPath = "";
switch (iconName) {
  case "github-logo":
    iconPath = `${import.meta.env.BASE_URL}/github-logo-fill.svg`;
    break;

  case "linkedin-logo":
    iconPath = `${import.meta.env.BASE_URL}/linkedin-logo-fill.svg`;
    break;

  case "envelope":
    iconPath = `${import.meta.env.BASE_URL}/envelope.svg`;
    break;

  case "book-open-text":
    iconPath = `${import.meta.env.BASE_URL}/book-open-text.svg`;
    break;

  case "game-controller":
    iconPath = `${import.meta.env.BASE_URL}/game-controller.svg`;
    break;

  case "cursor":
    iconPath = `${import.meta.env.BASE_URL}/cursor.svg`;
    break;

  default:
    break;
}
---

<a class="link-button" target="_blank" href={href}>
  <img src={iconPath} alt={alt} />
  <p>{title}</p>
</a>

<style>
  .link-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    opacity: 0.7;
  }
  .link-button:hover {
    opacity: 1;
  }
  .link-button img {
    width: 22px;
    height: 22px;
  }
</style>
