---
interface Props {
  href: string;
  iconName: string;
  alt: string;
  target?: string;
}

const { href, iconName, alt, target } = Astro.props;

let iconPath = "";
switch (iconName) {
  case "github-logo":
    iconPath = `${import.meta.env.BASE_URL}/github-logo-fill.svg`;
    break;

  case "linkedin-logo":
    iconPath = `${import.meta.env.BASE_URL}/linkedin-logo-fill.svg`;
    break;

  case "envelope":
    iconPath = `${import.meta.env.BASE_URL}/envelope.svg`;
    break;

  case "book-open-text":
    iconPath = `${import.meta.env.BASE_URL}/book-open-text.svg`;
    break;

  case "game-controller":
    iconPath = `${import.meta.env.BASE_URL}/game-controller.svg`;
    break;

  case "code":
    iconPath = `${import.meta.env.BASE_URL}/code.svg`;
    break;

  case "cursor":
    iconPath = `${import.meta.env.BASE_URL}/cursor.svg`;
    break;

  default:
    break;
}
---

<a class="link-icon" target={target} href={href} title={alt}>
  <img src={iconPath} alt={alt} />
</a>

<style>
  .link-icon {
    width: 22px;
    height: 22px;
    transition: opacity 0.3s;
    opacity: 0.7;
  }
  .link-icon:hover {
    transition: opacity 0.3s;
    opacity: 1;
  }
  .link-icon img {
    width: 22px;
    height: 22px;
  }
</style>
