---
import { getEntries, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import TagPill from '../../components/TagPill.astro';
import { Image } from 'astro:assets';
import LinkButton from '../../components/LinkButton.astro';

export async function getStaticPaths() {
  const projects: CollectionEntry<'projects'>[] = await getCollection('projects');
  
  return projects.map(project => {
    return {
      params: {project: project.slug}, 
      props: { 
        project
      }
    }
  })
}

const { project } = Astro.props;

const tagsies: CollectionEntry<'tags'>[] = await getEntries(project.data.tags);

const { Content } = await project.render();
---
<Layout title={`William Gruszka - ${project.data.title}`}>
  <section class="project-content">
    <header>
      <a href="/">↩ William Gruszka</a>
      {project.data.logo ? <Image src={project.data.logo} alt={`${project.data.title} logo`} height={100}/> : <h1>{project.data.title}</h1>}
			<ul role="list">
        <li>
          <p>{project.data.year}</p>
        </li>
				{tagsies.map(tag => (
					<li>
						<TagPill tag={tag} />
					</li>
				))}
			</ul>
		</header>

    <section>
      <Content />
    </section>

    <ul class="links-list">
      {project.data.links?.map(link => {
        return <LinkButton title={link.title} href={link.link} iconName={link.icon} alt={link.title}/>
      })}
    </ul>
  </section>
</Layout>

<style>
  .project-content {
    display: flex; 
    flex-direction: column;
		gap: 1rem; 
		padding: 1rem
  }
  .project-content header {
    display: flex; 
    flex-direction: column;
		gap: 0.5rem;
  }
  .project-content section {
    display: flex; 
    flex-direction: column;
		gap: 0.5rem;
  }
  .project-content a {
    opacity: 0.7;
  }
  .project-content a:hover {
    opacity: 1;
  }
  .links-list {
    display: flex; 
    flex-direction: column;
    align-items: baseline;
    margin-top: 1rem;
  }
</style>